<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {# css #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    {# js #}
    {# 부트스트랩 쓰기위한 헤더 링크 #}

    <style>
        body {
            text-align: center
        }

        {# 자식 태그들을 부모태그 기준으로 가운데정렬 #}
    </style>
</head>
<body>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"> {# 이미지 클릭시 home페이지로 갈수있도록 연결 #}
            <img src="{% static 'classlion.png' %}" alt="" width="50" height="50"> {#<-이미지 url 코드 추가#}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}  {# 로그인된 상태에서만 글쓰고 로그아웃이 가능하게 #}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'new' %}">Write</a>
                        {# 상단 바에서 write누를시 new html로 이동 #}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a> {# 로그아웃 카테고리 #}
                    </li>
                {% endif %}
                {% if not user.is_authenticated %}  {# 로그인되지 않은 사람에게만 로그인과 회원가입이 보이도록 #}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a> {# 상단 바에서 Login 누를 시 login.html로 이동#}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Signup</a> {# 로그아웃 카테고리 #}
                    </li>
                {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
{# navvar 부트스트랩 #}

<div class="container"> {# templates 상속 코드 #}
    {% block content %}
    {% endblock %}
</div>

</body>
</html>